.move-details-container {
  min-height: 100vh;
  padding: 20px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.house-detail-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.existing-house {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  background-color: #000;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
}

.inventory-heading {
  display: flex;
  justify-content: space-between;
}
